#projectlogo img{
    height: 120px;
    padding-bottom: 20px;
}

#projectname {
    font-size: 80px;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px;

}

body{
    font-family: sans-serif;
    padding-left: 200px;
    padding-right: 200px;
    line-height: 40px;
    font-family: cursive;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(161,220,255,1) 100%);



#projectnumber{
    font-size: 40px;
}


#top{
    padding-bottom: 20px;    
}



#titlearea{
    background-color: white;
}

